<div class="visualpublicprojects">
	<div class="contenedor">
		<div class="titulo">
			<h1>Anteproyectos mas populares</h1>
		</div>
		<div class="public">
			<div class="org"><p>Ondas Electromagneticas</p></div>
			<div class="org"><p>Inteligencia Artificial</p></div>
			<div class="org"><p>Enviar Informacion Sin Perdida</p></div>
			<div class="org"><p>Microorganismos</p></div>
			<div class="org"><p>Problemas De Trafico</p></div>
			<div class="org"><p>Energias Renovables</p></div>
		</div>
	</div>
</div>