<div class="contenedor">
	<div class="listas">
		<div class="more" onclick="
		document.querySelector('.listas').style.display = 'none';
		document.querySelector('.add').style.display = 'grid';
		">
			<img src="assets/icons/172525_plus_icon.svg">
		</div>
		<section class="ant1"><div onclick="
		document.querySelector('.editor').style.display = 'grid';
		document.querySelector('.listas').style.display = 'none';
		"><h2></h2><p class="f"></p><p class="st"></p></div><img src="assets/icons/211934_trash_icon.png" onclick="
		let todo = document.querySelector('.ant1');
		todo.querySelector('div h2').textContent = '';
		todo.querySelector('div .f').textContent = '';
		todo.querySelector('div .st').textContent = '';
		todo.style.display = 'none';
		"></section>
		<section class="ant2"><div onclick="
		document.querySelector('.editor').style.display = 'grid';
		document.querySelector('.listas').style.display = 'none';
		"><h2></h2><p class="f"></p><p class="st"></p></div><img src="assets/icons/211934_trash_icon.png" onclick="
		let todo = document.querySelector('.ant2');
		todo.querySelector('div h2').textContent = '';
		todo.querySelector('div .f').textContent = '';
		todo.querySelector('div .st').textContent = '';
		todo.style.display = 'none';
		"></section>
		<section class="ant3"><div onclick="
		document.querySelector('.editor').style.display = 'grid';
		document.querySelector('.listas').style.display = 'none';
		"><h2></h2><p class="f"></p><p class="st"></p></div><img src="assets/icons/211934_trash_icon.png" onclick="
		let todo = document.querySelector('.ant3');
		todo.querySelector('div h2').textContent = '';
		todo.querySelector('div .f').textContent = '';
		todo.querySelector('div .st').textContent = '';
		todo.style.display = 'none';
		"></section>
		<section class="ant4"><div onclick="
		document.querySelector('.editor').style.display = 'grid';
		document.querySelector('.listas').style.display = 'none';
		"><h2></h2><p class="f"></p><p class="st"></p></div><img src="assets/icons/211934_trash_icon.png" onclick="
		let todo = document.querySelector('.ant4');
		todo.querySelector('div h2').textContent = '';
		todo.querySelector('div .f').textContent = '';
		todo.querySelector('div .st').textContent = '';
		todo.style.display = 'none';
		"></section>
		<section class="ant5"><div onclick="
		document.querySelector('.editor').style.display = 'grid';
		document.querySelector('.listas').style.display = 'none';
		"><h2></h2><p class="f"></p><p class="st"></p></div><img src="assets/icons/211934_trash_icon.png" onclick="
		let todo = document.querySelector('.ant5');
		todo.querySelector('div h2').textContent = '';
		todo.querySelector('div .f').textContent = '';
		todo.querySelector('div .st').textContent = '';
		todo.style.display = 'none';
		"></section>
		<section class="ant6"><div onclick="
		document.querySelector('.editor').style.display = 'grid';
		document.querySelector('.listas').style.display = 'none';
		"><h2></h2><p class="f"></p><p class="st"></p></div><img src="assets/icons/211934_trash_icon.png" onclick="
		let todo = document.querySelector('.ant6');
		todo.querySelector('div h2').textContent = '';
		todo.querySelector('div .f').textContent = '';
		todo.querySelector('div .st').textContent = '';
		todo.style.display = 'none';
		"></section>
		<section class="ant7"><div onclick="
		document.querySelector('.editor').style.display = 'grid';
		document.querySelector('.listas').style.display = 'none';
		"><h2></h2><p class="f"></p><p class="st"></p></div><img src="assets/icons/211934_trash_icon.png" onclick="
		let todo = document.querySelector('.ant7');
		todo.querySelector('div h2').textContent = '';
		todo.querySelector('div .f').textContent = '';
		todo.querySelector('div .st').textContent = '';
		todo.style.display = 'none';
		"></section>
		<section class="ant8"><div onclick="
		document.querySelector('.editor').style.display = 'grid';
		document.querySelector('.listas').style.display = 'none';
		"><h2></h2><p class="f"></p><p class="st"></p></div><img src="assets/icons/211934_trash_icon.png" onclick="
		let todo = document.querySelector('.ant8');
		todo.querySelector('div h2').textContent = '';
		todo.querySelector('div .f').textContent = '';
		todo.querySelector('div .st').textContent = '';
		todo.style.display = 'none';
		"></section>
		<section class="ant9"><div onclick="
		document.querySelector('.editor').style.display = 'grid';
		document.querySelector('.listas').style.display = 'none';
		"><h2></h2><p class="f"></p><p class="st"></p></div><img src="assets/icons/211934_trash_icon.png" onclick="
		let todo = document.querySelector('.ant9');
		todo.querySelector('div h2').textContent = '';
		todo.querySelector('div .f').textContent = '';
		todo.querySelector('div .st').textContent = '';
		todo.style.display = 'none';
		"></section>
		<section class="ant10"><div onclick="
		document.querySelector('.editor').style.display = 'grid';
		document.querySelector('.listas').style.display = 'none';
		"><h2></h2><p class="f"></p><p class="st"></p></div><img src="assets/icons/211934_trash_icon.png" onclick="
		let todo = document.querySelector('.ant10');
		todo.querySelector('div h2').textContent = '';
		todo.querySelector('div .f').textContent = '';
		todo.querySelector('div .st').textContent = '';
		todo.style.display = 'none';
		"></section>
		<section class="ant11"><div onclick="
		document.querySelector('.editor').style.display = 'grid';
		document.querySelector('.listas').style.display = 'none';
		"><h2></h2><p class="f"></p><p class="st"></p></div><img src="assets/icons/211934_trash_icon.png" onclick="
		let todo = document.querySelector('.ant11');
		todo.querySelector('div h2').textContent = '';
		todo.querySelector('div .f').textContent = '';
		todo.querySelector('div .st').textContent = '';
		todo.style.display = 'none';
		"></section>
		<section class="ant12"><div onclick="
		document.querySelector('.editor').style.display = 'grid';
		document.querySelector('.listas').style.display = 'none';
		"><h2></h2><p class="f"></p><p class="st"></p></div><img src="assets/icons/211934_trash_icon.png" onclick="
		let todo = document.querySelector('.ant12');
		todo.querySelector('div h2').textContent = '';
		todo.querySelector('div .f').textContent = '';
		todo.querySelector('div .st').textContent = '';
		todo.style.display = 'none';
		"></section>
		<section class="ant13"><div onclick="
		document.querySelector('.editor').style.display = 'grid';
		document.querySelector('.listas').style.display = 'none';
		"><h2></h2><p class="f"></p><p class="st"></p></div><img src="assets/icons/211934_trash_icon.png" onclick="
		let todo = document.querySelector('.ant13');
		todo.querySelector('div h2').textContent = '';
		todo.querySelector('div .f').textContent = '';
		todo.querySelector('div .st').textContent = '';
		todo.style.display = 'none';
		"></section>
		<section class="ant14"><div onclick="
		document.querySelector('.editor').style.display = 'grid';
		document.querySelector('.listas').style.display = 'none';
		"><h2></h2><p class="f"></p><p class="st"></p></div><img src="assets/icons/211934_trash_icon.png" onclick="
		let todo = document.querySelector('.ant14');
		todo.querySelector('div h2').textContent = '';
		todo.querySelector('div .f').textContent = '';
		todo.querySelector('div .st').textContent = '';
		todo.style.display = 'none';
		"></section>
		<section class="ant15"><div onclick="
		document.querySelector('.editor').style.display = 'grid';
		document.querySelector('.listas').style.display = 'none';
		"><h2></h2><p class="f"></p><p class="st"></p></div><img src="assets/icons/211934_trash_icon.png" onclick="
		let todo = document.querySelector('.ant15');
		todo.querySelector('div h2').textContent = '';
		todo.querySelector('div .f').textContent = '';
		todo.querySelector('div .st').textContent = '';
		todo.style.display = 'none';
		"></section>
		<section class="ant16"><div onclick="
		document.querySelector('.editor').style.display = 'grid';
		document.querySelector('.listas').style.display = 'none';
		"><h2></h2><p class="f"></p><p class="st"></p></div><img src="assets/icons/211934_trash_icon.png" onclick="
		let todo = document.querySelector('.ant16');
		todo.querySelector('h2').textContent = '';
		todo.querySelector('.f').textContent = '';
		todo.querySelector('.st').textContent = '';
		todo.style.display = 'none';
		"></section>
		<section class="ant17"><div onclick="
		document.querySelector('.editor').style.display = 'grid';
		document.querySelector('.listas').style.display = 'none';
		"><h2></h2><p class="f"></p><p class="st"></p></div><img src="assets/icons/211934_trash_icon.png" onclick="
		let todo = document.querySelector('.ant17');
		todo.querySelector('div h2').textContent = '';
		todo.querySelector('div .f').textContent = '';
		todo.querySelector('div .st').textContent = '';
		todo.style.display = 'none';
		"></section>
		<section class="ant18"><div onclick="
		document.querySelector('.editor').style.display = 'grid';
		document.querySelector('.listas').style.display = 'none';
		"><h2></h2><p class="f"></p><p class="st"></p></div><img src="assets/icons/211934_trash_icon.png" onclick="
		let todo = document.querySelector('.ant18');
		todo.querySelector('div h2').textContent = '';
		todo.querySelector('div .f').textContent = '';
		todo.querySelector('div .st').textContent = '';
		todo.style.display = 'none';
		"></section>
		<section class="ant19"><div onclick="
		document.querySelector('.editor').style.display = 'grid';
		document.querySelector('.listas').style.display = 'none';
		"><h2></h2><p class="f"></p><p class="st"></p></div><img src="assets/icons/211934_trash_icon.png" onclick="
		let todo = document.querySelector('.ant19');
		todo.querySelector('div h2').textContent = '';
		todo.querySelector('div .f').textContent = '';
		todo.querySelector('div .st').textContent = '';
		todo.style.display = 'none';
		"></section>
		<section class="ant20"><div onclick="
		document.querySelector('.editor').style.display = 'grid';
		document.querySelector('.listas').style.display = 'none';
		"><h2></h2><p class="f"></p><p class="st"></p></div><img src="assets/icons/211934_trash_icon.png" onclick="
		let todo = document.querySelector('.ant20');
		todo.querySelector('div h2').textContent = '';
		todo.querySelector('div .f').textContent = '';
		todo.querySelector('div .st').textContent = '';
		todo.style.display = 'none';
		"></section>
	</div>
	<div class="add">
		<div class="contenido">
			<div class="nombre">
				<label class="titulo">Titulo</label>
				<input type="text" class="title">
			</div>
			<div class="describe">
				<label>Descripcion</label>
				<textarea rows="15" cols="50"></textarea>
			</div>
			<div class="opcionpublic">
				<input type="checkbox">
				<p>Publico</p>
			</div>
		</div>
		<div class="botones">
			<button class="crear" onclick="
			document.querySelector('.listas').style.display = 'grid';
			document.querySelector('.add').style.display = 'none';
			let titulo = document.querySelector('.title');
			let fecha = new Date();
			let anio = fecha.getFullYear();
			let mes = fecha.getMonth();
			let dia = fecha.getDate();
			let stat = document.querySelector('.opcionpublic input').checked;
			if (stat){
				stat = 'publico';
			}else{
				stat = 'privado';
			}
			for(let x = 0; x < 20; x++){
				let canvaz = document.querySelector('.ant'+(x+1));
				if(canvaz.querySelector('div h2').textContent === ''){
					canvaz.style.display = 'flex';
					canvaz.querySelector('div h2').textContent += 'Titulo:'+titulo.value;
					canvaz.querySelector('div .f').textContent += 'Fecha de Creacion:'+anio+'-'+mes+'-'+dia;
					canvaz.querySelector('div .st').textContent += 'Estado:'+stat;
					break;
				}
			};
			titulo.value = '';
			document.querySelector('.describe textarea').value = '';
			">Crear Anteproyecto</button>
			<button class="cancelar" onclick="
			document.querySelector('.listas').style.display = 'grid';
			document.querySelector('.add').style.display = 'none';
			">Cancelar</button>
		</div>
	</div>
	<div class="editor">
		<div class="container">
			<section id= "t1">
				<h1>PROBLEMA</h1>
			</section>
			<section id = 't2'>
				<label>Planteamiento del Problema</label>
				<textarea rows="15" cols="100"></textarea>
			</section>
			<section id = 't3'>
				<label>Justificacion</label>
				<textarea rows="15" cols="100"></textarea>
			</section>
			<section id = 't4'>
				<h1>OBJETIVOS</h1>
			</section>
			<section id = 't5'>
				<label>Objetivo General</label>
				<textarea rows="15" cols="100"></textarea>
			</section>
			<section id = 't6'>
				<label>Objetivos Especificos</label>
				<textarea rows="15" cols="100"></textarea>
			</section>
			<section id = 't7'>
				<h1>MARCO TEORICO REFERENCIAL</h1>
			</section>
			<section id = 't8'>
				<label>Revision Bibliografica</label>
				<textarea rows="15" cols="100"></textarea>
			</section>
			<section id = 't9'>
				<label>Bases Teoricas</label>
				<textarea rows="15" cols="100"></textarea>
			</section>
			<section id = 't10'>
				<h1>METODOLOGIA</h1>
			</section>
			<section id = 't11'>
				<label>Tipo de Investigacion</label>
				<textarea rows="15" cols="100"></textarea>
			</section>
			<section id = 't12'>
				<label>Poblacion y Muestra</label>
				<textarea rows="15" cols="100"></textarea>
			</section>
			<section id = 't13'>
				<label>Tecnicas e Instrumentos de Recoleccion de Datos</label>
				<textarea rows="15" cols="100"></textarea>
			</section>
			<section id = 't14'>
				<label>Tecnicas de Procesamiento de Datos</label>
				<textarea rows="15" cols="100"></textarea>
			</section>
			<section id = 't15'>
				<h1>ADMINISTRACION</h1>
			</section>
			<section id = 't16'>
				<label>Recursos Humanos</label>
				<textarea rows="15" cols="100"></textarea>
			</section>
			<section id = 't17'>
				<label>Recursos Institucionales</label>
				<textarea rows="15" cols="100"></textarea>
			</section>
			<section id = 't18'>
				<label>Recursos Financieros</label>
				<textarea rows="15" cols="100"></textarea>
			</section>
			<section id = 't19'>
				<label>Cronograma de Actividades</label>
				<textarea rows="15" cols="100"></textarea>
			</section>
			<img src="assets/icons/211652_close_icon.png" onclick="
			document.querySelector('.listas').style.display = 'grid';
			document.querySelector('.editor').style.display = 'none';
			">
		</div>
	</div>
</div>